{% extends 'main.html' %}
{% block content %}

<main class="profile-page layout layout--3">
  <div class="container">
    {% include 'app/topics_component.html' %}

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.username}}</h3>
          <p>@{{user}}</p>
          {% if request.user == user %}
          <a href="{% url 'updateUser' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>

      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{user.username}}</a>
          </h2>
        </div>
      </div>
      {% include 'app/centre_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'app/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock %}